body {
    background: rgb(11, 57, 61);
    color: rgb(18, 92, 99);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    border: 4px rgb(25, 129, 138) outset;
    background: rgb(32, 165, 177);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    margin-bottom: 20px
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(18, 92, 99);
    flex: 1;
    margin: 0;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: rgb(117, 220, 230);
    padding: 8px;
}

/* main container area beneath menu */
main {
    background: rgb(32, 165, 177);
    border: 4px rgb(40, 201, 215) inset;
    display: flex;
    margin-top: 20px;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(156, 231, 237) ridge;
    padding: 8px;
    margin-top: 20px;
}

h2, h3 {
    margin: 0px;
}

/* albums section */
#albums {
    padding: 10px;
    display: flex;
}

#heading_album {
    padding: 15px;
    margin-top: 5px;
}

#album_images{
    margin-right: 25px;
    padding: 10px;
    display: flex;
}

.letu_stuke {
    padding: 2px;
    margin-top: 30px;
    display: flex;
}

.cate_le_bon {
    padding: 2px;
    display: flex;
}

.madlib {
    padding: 2px;
    margin-top: 30px;
    display: flex;
}

.moonlandingz {
    padding: 2px;
    display: flex;
}
#album_links{
    display: flex;
    margin-top: 30px;
}

/* Portfolio styles */
.content h1 {
  color: rgb(18, 92, 99);
}

#portfolio {
  list-style-type: none;
  padding-left: 0;
}

#portfolio li {
  background: rgb(40, 201, 215);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

#portfolio li:hover {
  background: rgb(78, 211, 223);
}

#portfolio a {
  text-decoration: none;
  color: rgb(18, 92, 99);
}